
		@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
		@import url('https://fonts.googleapis.com/css?family=Comfortaa|Yeon+Sung&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.top_line{
	width: 100%;
	height: 72px;
	background-color: #353535;
	position: fixed;
	border-bottom: 2px solid #151515;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.top_content{
	width: 1120px;
	margin: 20px auto;
	padding:0;
	color: #fff;
	font-weight: 900px;
	font-size: 21px;


}
.top_content_item{
	float: left;
	margin: 0 50px 0 0;
}
.top_content_item_l{
	float: right;
}
.contaner{
	width: 1120px;
	margin: 0 auto;
	padding:0;
}
.header_box{
	background-image: url("/htag/theam/img/heared.jpeg");
	width: 100%;
	height: 300px;
	margin: 80px 0 0 0;
}
.mini_navig{
	width: 1078px;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 15px 0 10px 0;
	padding: 9px 20px;
	background-color: #f9f9f9;
}
.l_boc{
	width: 800px;
	min-height: 100vh;
	float: left; 

}
.r_boc{
	width: 310px;
	min-height: 100vh;
	float: right; 
}
.l_boc h1{
	padding: 10px 30px;
}
.l_boc h2{
	width: 800px;
}
.l_boc button{
	width: 300px;
	padding: 10px 30px;
	margin: 0 240px;
}
.l_boc textarea{
	width: 780px;
	padding: 10px 10px 0 10px;
	margin: 20px 0 0px 0;
	height: 100px;
}
.l_boc img{
	width: 110px;
	margin: 30px;
	float: left;
}
.l_dop_bl{
	width: 700px;
	padding:15px 30px;
	background-color: #eee;
	margin: 10px 0;
}
.clear{
	clear: both;
}
.r_rnd{
	width: 300px;
	padding:5px;

}
.podrobno_p{
	color: blue;
	text-decoration: underline;
}
.l_gro{
	width: calc( 100% - 20px);
	margin: 20px 0;
	background-color: #eee;
	padding: 10px;
	font-weight: 900;

}
.l_dop_bl1{
	padding: 7px 0;
	font-weight: 400;
}
.podrob_l_s{
	font-weight: 900;
	padding: 5px 0;

}
.footers{
	width: 100%;
	min-width: 1120px;
	min-height: 200px;
	background: #353535;
}
.item_heah_tag{
	width: 220px;
	height: 135px;
	float:left;
	background:#eee;
	margin: 10px;
	padding: 10px;
	text-align: center;
	font-weight: 900;
}
.item_heah_tag img{
	height: 64px;
	width:64px;
	margin:  20px calc( ( 220px - 64px ) / 2 );
	display: block;
}